<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.phone" package="com.android.stk" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <original-package android:name="com.android.stk"/>
    <protected-broadcast android:name="com.android.stk.DIALOG_ALARM_TIMEOUT"/>
    <protected-broadcast android:name="org.codeaurora.intent.action.stk.finish_activity"/>
    <permission android:label="@string/stk_intent_permission" android:name="android.permission.SEND_RECEIVE_STK_INTENT" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_STK_COMMANDS"/>
    <uses-permission android:name="android.permission.SEND_RECEIVE_STK_INTENT"/>
    <application android:clearTaskOnLaunch="true" android:directBootAware="true" android:icon="@drawable/ic_launcher_sim_toolkit" android:label="@string/app_name" android:name="StkApp" android:process="com.android.phone" android:taskAffinity="android.task.stk">
        <activity android:enabled="false" android:exported="true" android:label="@string/app_name" android:name="StkMain" android:taskAffinity="android.task.stk.StkLauncherActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:label="@string/app_name" android:name="StkLauncherActivity" android:taskAffinity="android.task.stk.StkLauncherActivity" android:theme="@miui:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|locale|mcc|mnc|orientation|screenSize" android:exported="false" android:icon="@drawable/ic_launcher_sim_toolkit" android:label="@string/app_name" android:name="StkMenuActivity" android:taskAffinity="android.task.stk.StkLauncherActivity" android:theme="@miui:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|locale|orientation|screenSize" android:exported="false" android:icon="@drawable/ic_launcher_sim_toolkit" android:label="@string/app_name" android:name="StkInputActivity" android:taskAffinity="android.task.stk.StkLauncherActivity" android:theme="@miui:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|locale|mcc|mnc|orientation|screenSize" android:exported="false" android:name="StkDialogActivity" android:taskAffinity="android.task.stk.StkLauncherActivity" android:theme="@miui:style/Theme.Light.Dialog"/>
        <activity android:exported="false" android:name="ToneDialog" android:theme="@miui:style/Theme.Light.Dialog"/>
        <receiver android:name="com.android.stk.StkCmdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.stk.command"/>
                <action android:name="android.intent.action.stk.session_end"/>
                <action android:name="android.intent.action.stk.icc_status_change"/>
                <action android:name="android.intent.action.stk.alpha_notify"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="org.codeaurora.intent.action.stk.hci_connectivity"/>
                <action android:name="org.codeaurora.action.stk.idle_screen"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.stk.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_INITIALIZE"/>
            </intent-filter>
        </receiver>
        <service android:name="StkAppService"/>
    </application>
</manifest>
